# Miscellaneous
Mobile/*.class
Mobile/*.log
Mobile/*.pyc
Mobile/*.swp
Mobile/.DS_Store
Mobile/.atom/
Mobile/.buildlog/
Mobile/.history
Mobile/.svn/
Mobile/migrate_working_dir/

# IntelliJ related
Mobile/*.iml
Mobile/*.ipr
Mobile/*.iws
Mobile/.idea/

# Tmp files
Mobile/*/tmp

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
Mobile/**/doc/api/
Mobile/**/ios/Flutter/.last_build_id
Mobile/.dart_tool/
Mobile/.flutter-plugins
Mobile/.flutter-plugins-dependencies
Mobile/.pub-cache/
Mobile/.pub/
Mobile/build/

# Symbolication related
Mobile/app.*.symbols

# Obfuscation related
Mobile/app.*.map.json

# Android Studio will place build artifacts here
Mobile/android/app/debug
Mobile/android/app/profile
Mobile/android/app/release
